@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	color:#333;
	font-family: "avenir", sans-serif;
	font-size: 18px; 
	text-rendering: optimizeLegibility;
}
header {
	max-width: 65em;
	margin: auto;
}
header a {
	color:inherit;
	display:inline-block;
	text-decoration:none;
	padding: 1em;
}
nav {
	display:inline-block;
	float: right;
	margin: auto;
}
nav .icon {
    display: none;
}
h1 {
	font-size: 3em;
	font-weight: 400;
	letter-spacing: .10em;
	line-height: 1.6em;
}
h2 {
	text-transform: uppercase;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 1.5em;
	padding: 0 0 2em 0;
	font-weight: 200;
}
h3 {
	font-size: 1.7em;
	font-weight: bold;
	line-height: 1.5em;
	color: #30455A;
}
h4 {
	color: rgba(49, 70, 90, .85);
	font-weight: 300;
}

p {
	line-height: 1.5em;
}
img {
    max-width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0);
  	box-shadow: 0 15px 30px -20px rgba(117,124,130,20);
  	box-sizing: border-box;
}

/*hero*/
#hero{
	background: #30455A;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #30455A, #4B6C8C);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #30455A, #4B6C8C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#heroWrapper{
 	max-width: 48em;
 	text-align: center;
	margin: auto;
	padding: 4em 1em 4em 1em;
  	font-weight: 400;
  	color: #fff;
}
#hero p {
	font-size: 1.5em;
}
.heroCTA {
	color:inherit;
	display:inline-block;
	border: 2px white solid;
	border-radius: 3em;
	margin:2em .5em 0 0;
	padding: .5em 1em;
	text-decoration:none;
}
#hero.icon {
	font-size: 1em;
}
/*selectedWork*/
.tags {
	background-color: #E1E5F2;
	color: #fff;
	display:inline-block;
	margin:1em .5em 0 0;
	padding:.5em .7em;
	text-decoration:none;
	font-size: .75em;
	font-weight: 100;
}
.selectedWork {
	padding: 4em 2em 0 2em;
	max-width: 70em;
	margin: auto;
}
.selectedWork article {
	padding: 0 0 5em 0;
}
.selectedWork a {
	text-decoration: none;
	color: #30455A;
}
.left {
	width: 30%;
	display: inline-block;
	padding: 1em 0;
}
.right {
	width: 58%;
	display: inline-block;
	float: right;
}
#about {
	background-color: #a9b0d7;
	margin: 1em 0 1em 0;
}
#aboutWrapper {
	max-width: 40em;
	width: 50%;
	margin: auto;
	padding: 2.5em 4em;

}
#about p {
	padding: 0 0 1em 0;
}

.contact {
	padding: 4em 0 4em 0;
	max-width: 40em;
	width: 40%;
	margin: auto;
}
.contact p {
	margin: .5em 0 2em 0;
}
.form {
	margin: 0 0 3em 0;
}
input {
	border: none;
	font-family: inherit;
	text-decoration: none;
}
input:focus {
	outline: none;
}
input[type=text] {
	width: 100%;
	padding: 1em 2em;
    border-bottom: 2px solid black;
}
input[type=submit] {
	background-color: #30455A; 
	font-size: .75em;
	display: block;
	color: white;
	border-radius: 2em;
	padding: 1em 2em;
  	box-shadow: 0 25px 40px -20px rgba(0,0,0,20);
  	box-sizing: border-box;
  	transition: box-shadow .4s;
}
#footerWrapper {
	background-color: #A89B9D;
}
footer {
	padding: 1em 0 1em 0;
	width: 75%;
	margin: auto;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
@media only screen and (max-width: 900px) {
	.left {
		float: none;
		width: auto;
		padding: 0 0 1em 0;
	}
	.right {
		float: none;
		width: auto;
	}
	#aboutWrapper {
		width: 80%;
	}
	.contact {
		width: 70%;
	}
}
@media only screen and (max-width: 762px) {
	body {
		font-size: 15px;
	}
 	nav a:not(:first-child) {
 		display: none;
 	}
 	nav .icon {
    float: right;
    display: block;
  	}
}

@media only screen and (max-width: 319px) {
	body {
    	font-size: 13px;
	}
	.heroCTA {
		display:block;
		margin: 1.2em auto;
		padding: .5em 1em;
	}
	#aboutWrapper {
		padding: 2.5em 2em;
	}