@import url('https://fonts.googleapis.com/css?family=Poppins');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	color:#333;
	font-family: "Poppins", sans-serif;
	font-size: 18px; 
	line-height:1.3;
}
h1 {
	font-size: 24px;
	font-weight: 500;
	letter-spacing: .10em;
}
header a {
	color:inherit;
	display:inline-block;
	text-decoration:none;
	padding: 1em;
}
.tags {
	border:1px solid;
	display:inline-block;
	margin:1em 1em 0 0;
	padding:.25em;
	text-decoration:none;

}
/*hero*/
#hero{   
  background-color: #30455A;
  padding:100px;
  font-weight: 600;
  color: #fff;
}
#hero a {
	background:purple;
	color:inherit;
	display:inline-block;
	margin:1em 1em 0 0;
	padding: 1em 2em;
	text-decoration:none;
}
